.events-table {
    width: 100%;
    border-collapse: collapse;
}

.events-table th,
.events-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.events-table th {
    background-color: #04AA6D;
    color: white;
}

.events-table tr:nth-child(even) {background-color: #f2f2f2;}

.events-table tr:hover {background-color: #ddd;}